* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #000, #03055b); 
  color: white;
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}