
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

.posts {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 0 auto;
  }

  .post {
    background-color: rgb(21, 43, 83);
    border: 1px solid black;
    width: 20%;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .post button {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }

  .post button:hover {
    background-color: #3e8e41;
  }

  .add-button {
    margin-top: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .addPost {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }

  .addPost:hover {
    background-color: #3e8e41;
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }